/*
  HTML5 Reset :: style.css
  ----------------------------------------------------------
  We have learned much from/been inspired by/taken code where offered from:
  
  Eric Meyer          :: http://meyerweb.com
  HTML5 Doctor        :: http://html5doctor.com
  and the HTML5 Boilerplate :: http://html5boilerplate.com
  
-------------------------------------------------------------------------------*/
/* Let's default this puppy out
-------------------------------------------------------------------------------*/
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* consider resetting the default cursor: https://gist.github.com/murtaugh/5247154 */
article, aside, figure, footer, header, nav, section, details, summary {
  display: block; }

/* Responsive images and other embedded objects
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
   If this default setting for images is causing issues, you might want to replace it with a .responsive class instead. */
img,
object,
embed {
  max-width: 100%; }

/* force a vertical scrollbar to prevent a jumpy page */
html {
  overflow-y: scroll; }

/* we use a lot of ULs that aren't bulleted. 
  don't forget to restore the bullets within content. */
ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help; }

/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0; }

th {
  font-weight: bold;
  vertical-align: bottom; }

td {
  font-weight: normal;
  vertical-align: top; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

pre {
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */ }

input[type="radio"] {
  vertical-align: text-bottom; }

input[type="checkbox"] {
  vertical-align: bottom; }

select, input, textarea {
  font: 99% sans-serif; }

table {
  font-size: inherit;
  font: 100%; }

small {
  font-size: 85%; }

strong {
  font-weight: bold; }

td, td img {
  vertical-align: top; }

/* Make sure sup and sub don't screw with your line-heights
  gist.github.com/413930 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* standardize any monospaced elements */
pre, code, kbd, samp {
  font-family: monospace, sans-serif; }

/* hand cursor on clickable elements */
.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer; }

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {
  margin: 0; }

/* make buttons play nice in IE */
button {
  width: auto;
  overflow: visible; }

/* let's clear some floats */
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }

/* Apply a natural box layout model to all elements: http://paulirish.com/2012/box-sizing-border-box-ftw/ */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.chromeframe {
  position: absolute;
  top: 0; }

/* * * * * * * * * * * * * * defaults * * * * * * * * * * * * * */
body {
  background: #dddddd;
  font-size: 13px;
  font-family: Helvetica Neue, Helmet, Helvetica, Sans-serif, Arial;
  line-height: 1.5; }
  body > * {
    opacity: 1;
    transition: all 0.5 ease; }
  body.cNotReady > * {
    opacity: 0; }

body,
select,
input,
textarea {
  color: #666666; }

a {
  color: #eeaa11; }

a:hover {
  color: #ffcc00; }

/* Custom text-selection colors (remove any text shadows: http://twitter.com/miketaylr/status/12228805301) */
::-moz-selection {
  background: #fcd700;
  color: white;
  text-shadow: none; }

::selection {
  background: #fcd700;
  color: white;
  text-shadow: none; }

/*  j.mp/webkit-tap-highlight-color */
a:link {
  -webkit-tap-highlight-color: #fcd700; }

ins {
  background-color: #fcd700;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #fcd700;
  color: #000;
  font-style: italic;
  font-weight: bold; }

/* Mozilla dosen't style place holders by default */
input:-moz-placeholder {
  color: #a9a9a9; }

textarea:-moz-placeholder {
  color: #a9a9a9; }

em {
  font-style: italic; }

small {
  font-size: 10.4px; }

header,
h1,
h2,
h3,
h4 {
  font-family: Consolas, Georgia, Sans-serif;
  text-rendering: optimizelegibility;
  text-shadow: 1px 1px 0 white; }

hr {
  background: #c8c8c8;
  border-bottom: solid 1px white;
  margin: 20px 0; }

.clear {
  clear: both; }

button {
  padding: 5px 10px;
  background: #eeaa11;
  border: none;
  color: #fff;
  text-align: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px; }

button:hover, button:active {
  background: #ffcc00; }

img.image {
  border: solid 1px #fff;
  width: 100%;
  margin: 0 0 10px; }

@media only screen and (max-width: 600px) {
  .tags li {
    display: inline-block;
    margin-right: 5px;
    color: #999999;
    background: white;
    padding: 2.5px 5px;
    font-size: 9.75px; } }
@media only screen and (min-width: 600px) {
  .tags li {
    display: inline-block;
    margin-right: 10px;
    color: #999999;
    background: white;
    padding: 5px 10px; } }

/* * * * * * * * * * * * * * theme * * * * * * * * * * * * * */
h1 {
  font-size: 32.5px; }

h2 {
  font-size: 26px; }

h3 {
  font-size: 19.5px; }

h4 {
  font-size: 16.9px; }

section {
  padding: 20px;
  background: #ffe57f;
  color: #333333;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px; }
  section * {
    text-shadow: none; }
  section h1 {
    font-size: 26px; }
  section h2 {
    font-size: 19.5px; }
  section h3 {
    font-size: 16.9px; }
  section a {
    color: #4681ea; }
  section a:hover {
    color: cornflowerblue; }

/* * * * * * * * * * * * * * layout * * * * * * * * * * * * * */
/* fullsize */
@media only screen and (min-width: 600px) {
  .outer-wrapper {
    width: 90%;
    margin: 20px auto 20px; } }
/* mobile */
.detail-view li {
  float: left; }
  .detail-view li .image {
    width: 200px;
    height: 200px;
    background: black no-repeat center;
    background-size: cover;
    margin: 0 20px 20px 0; }
